body{
  background-color: white;
  color: black;
}
#root{
  display: flex;
  align-items: center;
  align-content: center;
}
label{
  display: block;
  margin: 1rem;
}
fieldset{
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.377);
  padding: 2rem;
  box-shadow: 2px 3px 8px rgba(128, 128, 128, 0.452);
}
legend{
  background-color: cadetblue;
  padding: 0.4em;
  color: white;
  font-weight: bold;
}
#signup{
  display: block;
  margin: auto;
}